/* COLOR PALETTE 
primary text color: #fff;
secondary text color: #b3e5fc;
action color: #E91E63;
primary background color: #03a9f4;
secondary background color: #b3e5fc;
modal background color: pink;
settings background color: #607d8b;
*/

body {
  color: #fff;
}
a {
  color: #fff;
}
a:focus, a:hover, a:active {
  color: #fff;
  text-decoration: none;
}
a:focus {
  outline: 5px auto #E91E63;
} 

/* headers */
h1 {
  margin: 0;
}
h2 {
  font-size: 1.2em;
  color: #b3e5fc;
}

/* game area */
.game-board {
  height: 100vh;
}
.game-name {
  height: 10%;
  background-color: #03a9f4;
  color: #fff;
  padding: 1em;
  text-align: center;
}
.board-area {
  height: 75%;
  background-color: #b3e5fc;
  position: relative;
  text-align: center;
}
.settings {
  height: 15%;
  background-color: #607d8b;
}
.board-box {
  position: absolute;
  width: 33.33%;
  height: 33.33%;
  display: table;
  cursor: pointer;
}
.board-box span {
  display: table-cell;
  vertical-align: middle;
  font-size: 5em;
}
.board-box span.winner {
  color: #E91E63;
}
#box-0-0 {
  top: 0;
  left: 0;
}
#box-0-1 {
  top: 0;
  left: 33.33%;
}
#box-0-2 {
  top: 0;
  left: 66.66%;
}
#box-1-0 {
  top: 33.33%;
  left: 0;
}
#box-1-1 {
  top: 33.33%;
  left: 33.33%;
}
#box-1-2 {
  top: 33.33%;
  left: 66.66%;
}
#box-2-0 {
  top: 66.66%;
  left: 0;
}
#box-2-1 {
  top: 66.66%;
  left: 33.33%;
}
#box-2-2 {
  top: 66.66%;
  left: 66.66%;
}

/* settings */
.settings {
  position: relative;
}
.settings-button {
  position: absolute;
  width: 33.33%;
  height: 100%;
  text-align: center;
  border-radius: 20px 0;
  text-transform: uppercase;
  display: table;
}
.settings-button > div {
  display: table-cell;
  vertical-align: middle;
}
#score {
  top: 0;
  left: 0;
}
#symbol {
  top: 0;
  left: 33.33%;
}
#mode {
  top: 0;
  left: 66.66%;
}

/* layout styling */
.border-right {
  border-right: 3px solid white;
}
.border-top {
  border-top: 3px solid white;
}
.border-wide {
  border-right: 3px solid #b3e5fc;
}

/* bootstrap modals */
.modal-dialog {
  color: #000;
}
.modal-content {
  background-color: pink;
  text-align: center;
  font-size: 1.2em;
}
.modal-header h4 {
  font-size: 2em;
  color: #fff;
}
#symbol-choice .btn {
  padding: 0.5em 1em;
  font-size: 1.5em;
  color: #fff;
  background-color: #E91E63;
}
.symbol-choice-container {
  margin-bottom: 2em;
}
#replay {
  margin-bottom: 2em;
  background-color: #E91E63;
  color: #fff;
  text-transform: uppercase;
  padding: 1em;
}
.radio {
  margin-bottom: 2em;
}
.more-air-top {
  margin-top: 3em;
}

/* turn around device on mobile */
.turn-around-mobile {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 1000;
  display: none;
  background: url(http://theonewhodo.es/weatherapp-images/mobile-vertical.png) no-repeat;
  background-position: center center;
}
.turn-around-mobile h2 {
  padding-top: 1em;
  color: #E91E63;
  font-size: 3em;
}

/* media queries */
@media screen and (min-width: 1025px){
  .board-area {
    height: 90%;
    width: 60%;
  }
  .settings {
    position: absolute;
    top: 10%;
    right: 0;
    left: 60%;
    bottom: 0;
    height: auto;
  }
  #score {
    right: 0;
    width: 100%;
    height: 33.33%;
  }
  #symbol {
    right: 0;
    width: 100%;
    height: 33.33%;
    top: 33.33%;
    left: 0;
  }
  #mode {
    right: 0;
    width: 100%;
    height: 33.33%;
    left: 0;
    top: 66.66%;
  }
  .border-wide {
    border-right: 0;
  }
  .border-settings-top {
    border-top: 3px solid #b3e5fc;
  }
  .settings-button {
    border-radius: 0 20px;
  }
}
@media screen and (max-width: 767px) and (orientation: landscape)  {
  .game-name {
    padding:0;
    font-size: 1.8em;
  }
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 1.5em;
  }
  .board-box span {
    font-size: 10em;
  }
}
@media screen and (min-width: 1025px) {
  .settings-button div h2, .settings-button div p {
    font-size: 2em;
  }
}
@media only screen and (max-height: 415px) and (orientation: landscape){
  .turn-around-mobile {
    display: block;
  }
  section:not(.turn-around-mobile) {
    display: none;
  }
  .modal-dialog {
    display: none;
  }
  .fade.in {
    background-color: transparent;
  }
}